<form asp-controller="Customers" asp-action="GetCustomerById" method="get">
    <div class="form-group">
        <label for="id">Enter Customer ID:</label>
        <input type="text" id="id" name="id" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
